*.png
*.html
*.log
*.zip
.vscode/*
logs/*
src_/*
venv/*
*/__pycache__/*
src/build/*
*.pyc
src/.DS_Store
main
geckodriver
client.ovpn
chromedriver
._main
._geckodriver
._files_
._client.ovpn
._chromedriver
._src_
cookies_.txt
files_/*
repetitors.db
files/*
src/main_nocapcha
src/configuration/dictionaries_old copy 2.json
src/configuration/dictionaries_old copy.json
src/main.py.save
src/capcha/.env
src/configuration/api.txt
src/configuration/strings.txt
answers/*

*.sql
dump.sql
*.db
sqlite3_analyzer
venv
files_
.vscode
answers
cookies.txt
cookies_.txt
cookies.txt
logs
files
migrate
.env
repetitors.sqlc
captcha
.gitignore copy
test_*.py
last_update.txt
n.php
cookies.txt
log_texts/
bin/
cd/
pyvenv.cfg
lib64
lib/
share/
